# This file is for unifying the coding style for different editors and IDEs
# editorconfig.org
root = true

[*]
trim_trailing_whitespace = true
end_of_line = lf
charset = utf-8
indent_style = space

[*.s]
insert_final_newline = true
indent_size = 2
continuation_indent_size = 2

[*.{c,h},{common.mk,Makefile}]
indent_size = 4
continuation_indent_size = 4
