MEMORY {
    ZP:     start = $0000, size = $0100, type = rw, define = yes;
    STACK:  start = $0100, size = $0100, type = rw; # will define external symbols __STACK_START_, __STACK_SIZE_, __STACK_LAST_, __STACK_FILEOFFS_
    RAM:    start = $0200, size = $0600, type = rw, define = yes;

    HEADER: start = $0000, size = $0010, type = ro, fill = yes, fillval = $00;
    PRG: 		start = $8000, size = $4000, type = ro, fill = yes, fillval = $FF;
    DMC: 		start = $ffc0, size = $003a, file = %O, fill = yes;
    VECTORS:		start = $fffa, size = $0006, file = %O, fill = yes;
    CHR: 		start = $0000, size = $2000, type = ro, fill = yes, fillval = $00;

	  # Use this definition instead if you going to use extra 8K RAM
	  # RAM: start = $6000, size = $2000, define = yes;
}

SEGMENTS {
    ZEROPAGE: load = ZP,             type = zp;
    INESHDR:   load = HEADER,         type = ro;
    STARTUP:  load = PRG,            type = ro,  define = yes;
    LOWCODE:  load = PRG,            type = ro,                optional = yes;
    INIT:     load = PRG,            type = ro,  define = yes, optional = yes;
    ONCE:     load = PRG,            type = ro,  define = yes, optional = yes;
    CODE:     load = PRG,            type = ro,  define = yes;
    RODATA:   load = PRG,            type = ro,  define = yes;
    DATA:     load = PRG, run = RAM, type = rw,  define = yes;
    VECTORS:  load = VECTORS,        type = rw;
    SAMPLES:  load = DMC,            type = rw;
    CHARS:    load = CHR,            type = ro;
    BSS:      load = RAM,            type = bss, define = yes;
    HEAP:     load = RAM,            type = bss, optional = yes;
}

FEATURES {

    CONDES: segment = INIT,
	    type = constructor,
	    label = __CONSTRUCTOR_TABLE__,
	    count = __CONSTRUCTOR_COUNT__;
    CONDES: segment = RODATA,
	    type = destructor,
	    label = __DESTRUCTOR_TABLE__,
	    count = __DESTRUCTOR_COUNT__;
    CONDES: type = interruptor,
	    segment = RODATA,
	    label = __INTERRUPTOR_TABLE__,
	    count = __INTERRUPTOR_COUNT__;
}
